// Bloque base
.container {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color:#ffffff0e;
}

.modal {
  &__form {
    position: absolute;
    top: 25%;
    left: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 514px;
    height: 394px;
    background: #1f0d3f;
    border: 1px solid #bb65ff;
    box-shadow: 0px 0px 15px #6429cd,
      inset 0px 0px 20px rgba(189, 189, 255, 0.2);
    border-radius: 25px;

    &-label {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 140%;
      color: #ffffff;

      &-text {
        padding: 5px 10px;
        color: #ff0000bc;
        text-align: center;
        font-size: 12px;
        background-color: #52297037;
        border-radius: 10px;
        margin: 2% 0;
        font-weight: 400;
      }
    }

    &-input {
      display: flex;
      padding: 4px 4px 4px 15px;
      width: 292px;
      height: 40px;
      background: rgba(100, 41, 205, 0.08);
      border: 1px solid #bb65ff;
      border-radius: 100px;
      margin: 15px 0;
      color: #ffffff;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;

      &::placeholder {
        color: #ffffff;
        opacity: 0.5;
      }

      &:focus {
        outline: none;
        border-color: #6429cd;
        box-shadow: 0 0 0 3px rgba(100, 41, 205, 0.3);
      }
    }

    &-checkboxes {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 292px;
      height: 40px;
      margin: 15px 0;

      &-label {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #ffffff;
      }

      &-input {
        width: 20px;
        height: 20px;
        background: rgba(100, 41, 205, 0.08);
        border: 1px solid #bb65ff;
        border-radius: 100px;
        margin: 15px 0;
        color: #ffffff;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
      }

      &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10%;
      }
    }

    &-button {
      padding: 16px 24px;
      border-radius: 50px;
      border: none;
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      margin-bottom: 10px;
      outline: none;
      background: rgba(157, 157, 161, 0.3);
      color: rgba(157, 157, 161, 0.6);

      &-valid {
        background: white;
        color: #330072;
        cursor: pointer;
      }

      &-disabled {
        background: rgba(157, 157, 161, 0.3);
        color: rgba(157, 157, 161, 0.6);
      }
    }
  }
}


.prueba {
  background-color: red;
}
