<section class="admin__section">
  <section class="logo">
    <img class="logo__image" src="../../../assets/img/ficha.svg" alt="" />
    <p class="logo__text">aa</p>

    <section class="logo__info">
      <span class="logo__info-text">a</span>
      <button class="logo__info-button">Invitar jugadores</button>
    </section>
  </section>

  <section class="table__main">
    <section class="table__main-container"></section>

    <section class="table__container">
      <section class="table__container-one">
        <section class="table__container-two">


          <section class="votos">
            <button class="cambiar" (click)="toggleButton()" *ngIf="!isGameStarted">
              Revelar cartas
            </button>
            <button class="cambiar" (click)="toggleButton()" *ngIf="isGameStarted">
              Nueva votación
            </button>
            <section *ngIf="isWaiting">OooOoOOo</section>
          </section>



        </section>
      </section>
    </section>
    <section class="table__name-container">
      <section class="table__name-container-compact">
        <span></span>
      </section>
      <section class="table__name-container-full">
        <h4></h4>
      </section>
    </section>
  </section>

  <div
    class="selected-card"
    *ngFor="let card of selectedCards$ | async; let i = index"
  >
    <p
      class="selected-card-content {{ generateCardClass(i) }}"
      [class.revealed-style]="isRevealed"
    >
      {{ card.value }}
    </p>
  </div>



  <section class="count__card" *ngIf="isRevealed && cardCounts.length > 0">
    <section class="cards__container" *ngFor="let card of cardCounts">
      <section class="card">
        <p class="card__value">{{ card.key }}</p>
      </section>
      <section>
        <p class="card__count">{{ card.value }} Votos</p>
      </section>

    </section>
    <section class="average">
      <p class="average__text">Promedio:</p>
      <p class="average__value">12,7</p>
    </section>
  </section>
</section>
