.table {
  position: relative;
  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
  }

  &__section {
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 603px;
    height: 345px;
    border: 2px solid #6429cd;
    box-shadow: inset 0px 0px 20px rgba(189, 189, 255, 0.2);
    filter: drop-shadow(0px 0px 15px #6429cd);
    border-radius: 276px;

    /* estilos para .table__container-one y .table__container-two ... */

    &-one {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      width: 555px;
      height: 298px;
      border: 2px solid #6429cd;
      filter: drop-shadow(0px 12px 24px rgba(100, 41, 205, 0.6));
      border-radius: 276px;
    }

    &-two {
      width: 521px;
      height: 272px;
      left: 479px;
      top: 324px;
      border: 2px solid #6429cd;
      border-radius: 276px;
    }
  }
}

.selected-card {
  width: 100vw;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 35px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 7px;
  border-radius: 7px;
  border: 1px solid #bb65ff;
  background: #bb65ff;
  box-shadow: 0px 0px 6px 0px rgba(189, 189, 255, 0.6) inset,
    0px 5px 10px 0px rgba(100, 41, 205, 0.6);
  cursor: pointer;

  &-content {
    color:white;

  }

  .revealed-style {
    background-color: lightblue;
    color: darkblue;
  }
}

.cambiar {
  color: wheat;
}
