.app-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.logo {
  display: flex;
  align-items: center;
  position: absolute;
  top:0;
  left: 0;
  gap: 10px;
  padding: 20px;

  &__text {
    color: #fff;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;

  &__label {
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    color: #ffffff;
  }

  &__input {
    display: flex;
    padding: 4px 4px 4px 15px;
    width: 292px;
    height: 40px;
    background: rgba(100, 41, 205, 0.08);
    border: 1px solid #bb65ff;
    border-radius: 100px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10%;

    &:focus {
      outline: none;
    }
  }

  &__error {
    padding: 5px 10px;
    color: #ff0000bc;
    text-align: center;
    font-size: 12px;
    background-color: #5229706f;
    border-radius: 10px;
    margin: 2% 0;
  }

  &__button {
    padding: 16px 24px;
    border-radius: 50px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 10px;
    background: rgba(157, 157, 161, 0.3);
    color: rgba(157, 157, 161, 0.6);

    &-valid {
      background: white;
      color: #330072;
    }

    &-disabled {
      background: rgba(157, 157, 161, 0.3);
      color: rgba(157, 157, 161, 0.6);
    }
  }
}

