<form [formGroup]="formLogin" class="form">
  <img class="form__img" src="../../../assets/img/logo.svg" alt="" routerLink="" />

  <section>
    <button class="form__button-google" (click)="loginWithGoogle()">
      <span>G</span>
      Inicia sesión con Google
    </button>
  </section>

  <section class="form__field">
    <label class="form__label">Correo</label>
    <input type="email" class="form__input" formControlName="email" />
  </section>
  <section class="form__field">
    <label class="form__label">Contraseña</label>
    <input type="password" class="form__input" formControlName="password" />
  </section>
  <button (click)="loginWithEmailAndPassword(formLogin)" class="form__button-primary ">
    Iniciar sesión
  </button>
</form>
